<div class="sc-UMyrj bIEvkH __pf __pf_9Qni6loB" id="__pf"><div data-pf-type="Body" class="sc-evcjhq leJfDA pf-66_"><div data-pf-type="Layout" class="sc-brSvTw hrizkJ pf-67_"><div data-section-id="pf-588a" data-pf-type="Section" class="sc-uojGG hMqLeX pf-72_"><div style="--cw:1170px" class="sc-ilfuhL bpQaoh"><div class="sc-furwcr dAWGlU pf-71_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-fHeRUh cCunWv pf-70_"><h3 tabindex="0" spellcheck="false" data-pf-type="Heading2" class="sc-kHOZwM hRBLBR pf-69_"><i class="sc-jUosCB eNYMOK pf-68_ pfa pfa-star" data-pf-type="Icon"></i>This is your heading text.</h3></div></div></div></div></div></div></div></div><script>
    !function(){window.__pagefly_setting__&&(window.__pagefly_setting2__=window.__pagefly_setting__),window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"4.10.0","shopDomain":"advvvx.myshopify.com","elementData":{},"pageTitle":"myhome","pageType":"home","pageId":"8b2bc7e1-d2f5-49e2-aa5a-01a0ffb49858","lazyLoad":true,"forceByPassGoogleLightHouse":false,"imageLazyLoad":true,"useThemeJQ":false,"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview"},window.__pagefly_setting2__&&(window.__pagefly_setting__=function _(d,b){let c={...d||{}};for(let a of Object.keys(b))b[a]instanceof Object&&(Array.isArray(b[a])&&c[a]?Object.assign(b[a],[...b[a],...c[a]]):Object.assign(b[a],_(c[a],b[a])));return Object.assign(c||{},b),c}(__pagefly_setting2__,__pagefly_setting__),delete window.__pagefly_setting2__),window.__pagefly_setting__.moneyFormat={{shop.money_format|json}}}();
    </script><script src="https://cdn.pagefly.io/pagefly/4.10.0/core/helper.js" async></script>
{% schema %}
{
  "name": "PageFly Home Page",
  "settings": [
    {
      "type": "paragraph",
      "content": "For full configuration, [visit PageFly Editor](https://advvvx.myshopify.com/admin/apps/pagefly/editor?id=8b2bc7e1-d2f5-49e2-aa5a-01a0ffb49858&type=home)."
    }
  ]
}
{% endschema %}